@model UserDetailsViewModel

<link href="/css/userDetails.css" rel="stylesheet">
<link href="/css/NonPrimaryEntities.css" rel="stylesheet">
<link href="/css/site.css" rel="stylesheet">

<h1>Profile</h1>

<div class="row">
     <div class="col-md-8">
         <form id="editUserFullNameForm" method="post" class="form-horizontal">
             <input type="hidden" asp-for="IdUser"/>
             <div class="form-group row" style="padding-bottom: 15px">
                 <label asp-for="Username" class="col-sm-2 col-form-label">Username</label>
                 <div class="col-sm-10">
                     <input type="hidden" asp-for="Username" class="form-control usrname" value="@Model.Username"/>
                     <p>@Model.Username</p>
                     <span asp-validation-for="Username" class="text-danger"></span>
                 </div>
             </div>
             <div class="form-group row">
                 <label asp-for="FullName" class="col-sm-2 col-form-label">Full name</label>
                 <div class="col-sm-8">
                     <input asp-for="FullName" class="form-control" value="@Model.FullName" />
                     <span asp-validation-for="FullName" class="text-danger"></span>
                 </div>
                 <div class="col-sm-2">
                     <button type="submit" class="btn btn-primary">Update</button>
                 </div>
             </div>
         </form>
 
         <form id="editUserPasswordForm" method="post" class="form-horizontal" style="margin-top: 20px">
             <input type="hidden" asp-for="Username"/>
             <div class="form-group row" style="padding-bottom: 15px">
                 <label for="oldPassword" class="col-sm-2 col-form-label">Old Password</label>
                 <div class="col-sm-10">
                     <input id="oldPassword" name="oldPassword" type="password" class="form-control"/>
                     <span class="text-danger"></span>
                 </div>
             </div>
             <div class="form-group row">
                 <label for="newPassword" class="col-sm-2 col-form-label">New Password</label>
                 <div class="col-sm-10">
                     <input id="newPassword" name="newPassword" type="password" class="form-control"/>
                     <span class="text-danger"></span>
                 </div>
             </div>
             <div class="form-group row" style="margin-top: 20px">
                 <div class="col-sm-10 offset-sm-2">
                     <button type="submit" class="btn btn-primary">Update Password</button>
                 </div>
             </div>
         </form>
     </div>
     <div class="col-md-4 text-center">
         <img src="/materials/profileDetailsCat.png" alt="(=^･ω･^=)" class="img-fluid" style="scale: 2; margin-left: 8rem">
     </div>
 </div>


<div id="alertContainer" style="padding-bottom: 15px"></div>

<!-- Confirmation Modal for Full Name Update -->
<div class="modal fade" id="confirmModalFullName" tabindex="-1" aria-labelledby="confirmModalLabelFullName" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabelFullName">Confirm Update</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to update your full name?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirmUpdateFullNameButton">Confirm</button>
            </div>
        </div>
    </div>
</div>

<!-- TODO add cofirm container styling to everything  -->

<!-- Confirmation Modal for Password Update -->
<div class="modal fade" id="confirmModalPassword" tabindex="-1" aria-labelledby="confirmModalLabelPassword" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabelPassword">Confirm Update</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to update your password?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirmUpdatePasswordButton">Confirm</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <script>
        $(document).ready(function () {
            $('#editUserFullNameForm').submit(function (event) {
                event.preventDefault();
                $('#confirmModalFullName').modal('show');
            });

            $('#editUserPasswordForm').submit(function (event) {
                event.preventDefault();
                $('#confirmModalPassword').modal('show');
            });

            $('#confirmUpdateFullNameButton').click(function () {
                var formData = $('#editUserFullNameForm').serialize();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("EditUserFullName", "User")',
                    data: formData,
                    success: function (response) {
                        if (response.success) {
        $('#alertContainer').html('<div class="alert alert-success" role="alert">Full name updated successfully</div>');
                        } else {
                            var errors = response.errors;
                            for (var key in errors) {
                                if (errors.hasOwnProperty(key)) {
                                    var errorMessages = errors[key];
                                    var errorElement = $('[data-valmsg-for="' + key + '"]');
                                    errorElement.html(errorMessages.join('<br/>'));
                                }
                            }
                        }
                    },
                    error: function () {
    $('#alertContainer').html('<div class="alert alert-danger" role="alert">An error occurred while updating the full name.</div>');
                    }
                });
            });

            $('#confirmUpdatePasswordButton').click(function () {
                var formData = $('#editUserPasswordForm').serialize();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("EditUserPassword", "User")',
                    data: formData,
                    success: function (response) {
                        if (response.success) {
        $('#alertContainer').html('<div class="alert alert-success" role="alert">Password updated successfully</div>');
                        } else {
                            var errors = response.errors;
                            for (var key in errors) {
                                if (errors.hasOwnProperty(key)) {
                                    var errorMessages = errors[key];
                                    var errorElement = $('[data-valmsg-for="' + key + '"]');
                                    errorElement.html(errorMessages.join('<br/>'));
                                }
                            }
                        }
                    },
                    error: function () {
    $('#alertContainer').html('<div class="alert alert-danger" role="alert">An error occurred while updating the password.</div>');
                    }
                });
            });
        });
    </script>
}