@model UserDetailsViewModel

<link href="/css/userDetails.css" rel="stylesheet">

<h2>Profile</h2>

<form id="editUserForm" method="post" class="form-horizontal" autocomplete="off">
    <input type="hidden" asp-for="IdUser" />
    <div class="form-group row">
        <label asp-for="Username" class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10">
            <input asp-for="Username" class="form-control" value="@Model.Username" autocomplete="off" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="FullName" class="col-sm-2 col-form-label">Full name</label>
        <div class="col-sm-10">
            <input asp-for="FullName" class="form-control" value="@Model.FullName" autocomplete="off" />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="PasswordHash" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input asp-for="PasswordHash" type="password" class="form-control" autocomplete="off" />
            <span asp-validation-for="PasswordHash" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row" style="margin-top: 20px">
        <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-primary">Update</button>
            <a href="@Url.Action("Details", "User", new { username = Model.Username })" class="btn btn-secondary">Cancel</a>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('#editUserForm').submit(function (event) {
                event.preventDefault();
                var formData = $(this).serialize();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("EditUser", "User")',
                    data: formData,
                    success: function (response) {
                        if (response.success) {
                            alert('User updated successfully');
                            window.location.href = '@Url.Action("Details", "User", new { username = Model.Username })';
                        } else {
                            var errors = response.errors;
                            for (var key in errors) {
                                if (errors.hasOwnProperty(key)) {
                                    var errorMessages = errors[key];
                                    var errorElement = $('[data-valmsg-for="' + key + '"]');
                                    errorElement.html(errorMessages.join('<br/>'));
                                }
                            }
                        }
                    },
                    error: function () {
                        alert('An error occurred while updating the user.');
                    }
                });
            });
        });
    </script>
}