@model UserDetailsViewModel

<link href="/css/userDetails.css" rel="stylesheet">

<h2>Profile</h2>

<form id="editUserFullNameForm" method="post" class="form-horizontal">
    <input type="hidden" asp-for="IdUser" />
    <div class="form-group row">
        <label asp-for="Username" class="col-sm-2 col-form-label" >Username</label> 
        <div class="col-sm-10">
            <input asp-for="Username" class="form-control" value="@Model.Username" readonly />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="FullName" class="col-sm-2 col-form-label">Full name</label>
        <div class="col-sm-8">
            <input asp-for="FullName" class="form-control" value="@Model.FullName" />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary">Update full name</button>
        </div>
    </div>
</form>

<form id="editUserPasswordForm" method="post" class="form-horizontal" style="margin-top: 20px">
    <div class="form-group row">
        <label for="oldPassword" class="col-sm-2 col-form-label">Old Password</label>
        <div class="col-sm-10">
            <input id="oldPassword" name="oldPassword" type="password" class="form-control" />
            <span  class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label for="newPassword" class="col-sm-2 col-form-label">New Password</label>
        <div class="col-sm-10">
            <input id="newPassword" name="newPassword" type="password" class="form-control" />
            <span  class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row" style="margin-top: 20px">
        <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-primary">Update Password</button>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('#editUserFullNameForm').submit(function (event) {
                event.preventDefault();
                var formData = $(this).serialize();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("EditUserFullName", "User")',
                    data: formData,
                    success: function (response) {
                        if (response.success) {
                            alert('Full name updated successfully');
                            window.location.href = '@Url.Action("Details", "User", new { username = Model.Username })';
                        } else {
                            var errors = response.errors;
                            for (var key in errors) {
                                if (errors.hasOwnProperty(key)) {
                                    var errorMessages = errors[key];
                                    var errorElement = $('[data-valmsg-for="' + key + '"]');
                                    errorElement.html(errorMessages.join('<br/>'));
                                }
                            }
                        }
                    },
                    error: function () {
                        alert('An error occurred while updating the full name.');
                    }
                });
            });

            $('#editUserPasswordForm').submit(function (event) {
                event.preventDefault();
                var formData = $(this).serialize();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("EditUserPassword", "User")',
                    data: formData,
                    success: function (response) {
                        if (response.success) {
                            alert('Password updated successfully');
                            window.location.href = '@Url.Action("Details", "User", new { username = Model.Username })';
                        } else {
                            var errors = response.errors;
                            for (var key in errors) {
                                if (errors.hasOwnProperty(key)) {
                                    var errorMessages = errors[key];
                                    var errorElement = $('[data-valmsg-for="' + key + '"]');
                                    errorElement.html(errorMessages.join('<br/>'));
                                }
                            }
                        }
                    },
                    error: function () {
                        alert('An error occurred while updating the password.');
                    }
                });
            });
        });
    </script>
}